<div class="container row" *ngFor="let session of sessions">
    <collapsible-well>
        <div class="row" well-title>
            <div class="col-2"></div>
            <div class="col-1 p-2 align-self-center align-content-center d-flex" 
                 style="top: 5px; position: relative;">
                <div class="toggle-vote align-self-center position-relative" 
                     style="display: inline-flex; position: relative;" 
                     (click)="toggleVote(session.id, $event)">
                    <i *ngIf="!isSessionUpvotedByUser(session)" class="fa fa-heart-o fa-1x vote"></i>
                    <i *ngIf="isSessionUpvotedByUser(session)" class="fa fa-heart fa-1x vote voted"></i>
                    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger start-100" 
                          style="font-size: 0.5rem;">
                        {{ session?.voters?.length }}
                    <span class="visually-hidden">unread messages</span>
                    </span>
                </div>
            </div>
            <div class="col-9 text-start mx-0 align-self-center">
                <h3 class="mx-0 mb-0">{{session.name}}</h3>
            </div>
        </div>
        <div class="row text-start background-secondary" well-body>
            <div class="col-3"></div>
            <div class="col-9">
                <h5>{{session.presenter}}</h5>
                <span><h6 style="display: inline-block;">Duration:</h6> {{session.duration | duration}}</span><br />
                <span><h6 style="display: inline-block;">Level:</h6> {{session.level}}</span>
                <p>{{session.abstract}}</p>
            </div>
        </div>
    </collapsible-well>
</div>