<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-4 mt-3" *ngFor="let event of eventsList ">
      <div class="card" style="width: 20rem;">
        <img src="{{ event.imageUrl }}" class="card-logo mx-auto" alt="{{ event.name }}">
        <div class="card-body">
          <h5 class="card-title" style="cursor: pointer;" routerLink= "/events/{{event.id}}">{{ event.name  | uppercase }}</h5>
          <p class="card-text fw-light text-muted">Price: {{ event.price | currency }}</p>
          <p class="card-text">Location: {{ event.location?.city }}, {{ event.location?.country }}</p>
          <a routerLink="/events/{{event.id}}" class="btn btn-sm btn-outline-secondary">More details</a>
        </div>
      </div>
    </div>
  </div>
</div>
