
.card-logo {
    height: 5vw !important;
    max-width: 100% !important;
    object-fit: cover;
    padding-top: 2rem;
    transition: transform .6s;
}

.card-logo:hover {
    transform: scale(1.05);
}

.card {
    transition: linear .6s;
}

.card:hover {
    background-color: rgba(182, 182, 182, 0.1);
}