<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ms-5" [routerLink]="'/events'" [ngClass]="{'active': getCurrentRoute()==='/events'}" aria-current="page">All Events</a>
          </li>
          <li class="nav-item ms-5">
            <button class="btn btn-outline-primary" [routerLink]="'/create-event'" type="button" [ngClass]="{'active': getCurrentRoute()==='/create-event'}">Create event</button>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" *ngIf="getCurrentRoute()==='/events'" type="search" placeholder="Search Events" aria-label="Search" [(ngModel)]="searchEventsText" (keyup)="searchEvents(searchEventsText)" [ngModelOptions]="{standalone: true}">
          <input class="form-control me-2" *ngIf="getCurrentRoute().includes('/events/')" type="search" placeholder="Search Sessions" aria-label="Search" [(ngModel)]="searchSessionsText" (keyup)="searchSessions(searchSessionsText)" [ngModelOptions]="{standalone: true}">
        </form>
        
        <ul class="navbar-nav me-5 ms-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser" routerLink="/user/{{currentUser?.id}}">Welcome, {{currentUser?.name}}!</a>
            <a class="nav-link" *ngIf="!currentUser" routerLink="/login">Login / Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>