<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ms-5" [routerLink]="'/events'" [ngClass]="{'active': getCurrentRoute()==='/events'}" aria-current="page">All Events</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" [routerLink]="'/create-event'"  [ngClass]="{'active': getCurrentRoute()==='/create-event'}">Create event</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search sessions" aria-label="Search" [(ngModel)]="searchEventsText" [ngModelOptions]="{standalone: true}">
          <button class="btn btn-outline-secondary" type="submit" (click)="searchEvents()">Search</button>
        </form>
        
        <ul class="navbar-nav me-5 ms-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, Mike!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>